In [1]:
import pandas as pd
import numpy as np

I tried using the Geocoder package but the script stucked. So I decided to use the provided csv file.

In [2]:
# res_lat = []
# res_lon = []
# # initialize your variable to None
# for postal_code in df['Postal Code']:
#     lat_lng_coords = None

#     # loop until you get the coordinates
#     while(lat_lng_coords is None):

#         g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
#         lat_lng_coords = g.latlng

#     latitude = lat_lng_coords[0]
#     longitude = lat_lng_coords[1]
#     res_lat.append(latitude)
#     res_lon.append(longitude)

# res_lat

# res_lon

In [3]:
df_coord = pd.read_csv('Geospatial_Coordinates.csv')
df_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [4]:
df_table = pd.read_csv('table.csv')
df_table.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [5]:
combined = pd.merge(df_table, df_coord, on='Postal Code', how='left')

In [6]:
combined.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [7]:
combined.shape

(103, 5)

In [8]:
combined.to_csv('combined.csv', index=False)